* {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-start {
  justify-content: start;
}

.flex-column {
  flex-direction: column;
}

.counter-rotation {
  transform: rotate(90deg);
}


.vertical-slider {
  /* position: fixed; */
  -webkit-appearance: none;
  appearance: none;
  width: 300px;
  height: 35px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  transform: rotate(-90deg);
  translate: 0 150px;
  border-radius: 5px;

  overflow: hidden;
}
.vertical-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0px;
  box-shadow: -300px 0px 0 300px #a84caf;
  cursor: pointer;
}
.vertical-slider::-moz-range-thumb {
  width: 0px;
  box-shadow: -300px 0px 0px 300px #a84caf;
  cursor: pointer;
}

#temp-container {
  height: 320px;
}

#temperature-slider {
  background-image: linear-gradient(to right, yellow, red);
}