.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.counter-rotation {
  transform: rotate(90deg);
}

.translateY-150px {
  translate: 0 150px;
}

.translateY-300px {
  translate: 0 300px;
}

.slider {
  /* position: fixed; */
  -webkit-appearance: none;
  appearance: none;
  width: 300px;
  height: 35px;
  background-image: linear-gradient(to right, yellow, red);
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  transform: rotate(-90deg);
  border-radius: 5px;

  overflow: hidden;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0px;
  height: 25px;
  box-shadow: -300px 0px 0 300px #a84caf;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 0px;
  height: 25px;
  box-shadow: -500px 0px 0 500px #a84caf;
  cursor: pointer;
}
